@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

/*Hero*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #F9FAF8;
}

p {
  line-height: 1.4;
}

header {
  background-color: #1F2937;
  height: 500px;
}

header .hero {
  display: flex;
  flex-direction: column;
  margin: 0% 10%;
  max-height: 100%;
}

header .hero nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}

header .hero nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

header .hero nav a {
  text-decoration: none;
  text-align: center;
  margin: 10px;
  font-size: 18px;
  color: #E5E7EB;
  padding-bottom: 5px;
}

header .hero nav a:hover {
  border-bottom: #E5E7EB solid 2px;
}

header .hero nav .logo {
  font-size: 24px;
  color: #F9FAF8;
  padding: 10px 10px 10px 0px;
}

header .hero .header-container {
  display: flex;
  margin-top: 100px;
  overflow: hidden;
  height: 250px;
}

header .hero .header-container .header-content {
  max-width: 50%;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

header .hero .header-container .header-content h1 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

header .hero .header-container .header-content p {
  color: #F9FAF8;
  padding: 20px 0px;
}

header .hero .header-container .btn-dark:hover {
  color: #3882F6;
  background-color: #F9FAF8;
}

header .hero .header-container img {
  min-width: 50%;
  object-fit: cover;
}

/*Boxes*/

.boxes {
  display: flex;
  flex-direction: column;
  height: 450px;
}

.boxes .info {
  text-align: center;
  padding: 20px 0px 0px 0px;
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
}

.boxes .flex-container {
  display: flex;
  margin: 0% 20%;
  justify-content: center;
}

.boxes .flex-container .flex-item {
  display: flex;
  flex-direction: column;
  margin: 20px;
  justify-content: center;
}

.boxes .flex-container .flex-item img {
  border: #3882F6 solid 5px;
  border-radius: 15px;
  height: 200px;
  max-width: 200px;
  object-fit: cover;
}

.boxes .flex-container .flex-item p {
  margin-top: 10px;
  text-align: center;
  align-self: center;
  max-width: 200px;
  font-size: 18px;
  color:  #1F2937;
}

/*Quote Section*/

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 100px;
  height: 450px;
  background-color: #E5E7EB;
}

.quote p {
  font-size: 36px;
  color: #1F2937;
  font-style: italic;
  font-weight: 300;
}

.quote h3 {
  align-self: flex-end;
  padding-right: 45px;
}

/* Signup */

.signup {
  height: 350px;
  display: flex;
}

.signup .signup-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  background-color: #3882F6;
  height: 150px;
  margin: auto;
  border-radius: 10px;
}

.signup .signup-container .signup-text {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  justify-content: center;
  color: #F9FAF8;
}

.signup .signup-container .signup-text p {
  font-size: 18px;
  color: #F9FAF8;
}

.signup .signup-container .btn-clear {
  align-self: center;
  border: #F9FAF8 2px solid;
  margin-right: 100px;
  max-width: 10%
}

.signup .signup-container .btn-clear:hover {
  color: #3882F6;
  background-color: #F9FAF8;
}

/* Footer */

footer {
  display: flex;
  background-color: #1F2937;
  height: 75px;
  color: #F9FAF8;
  font-size: 18px;
  justify-content: center;
  align-items: center;
}

/* Buttons */

.button {
  background: #3882F6;
  border-radius: 5px;
  text-decoration: none;
  color: #F9FAF8;
  cursor: pointer;
  width: 25%;
  padding: 5px;
  text-align: center;
  font-weight: 900;
}
